
<ng-container *ngIf="isLogin">
<mat-toolbar color="primary">
    <button mat-icon-button (click)="onMenuSelect('dashboard')">
      <mat-icon>dashboard</mat-icon>
    </button>
    <span>xpmile</span>

    <div class="cntr">
    <button mat-button class="item" (click)="onMenuSelect('shipping')">Shipping</button>
    <button mat-button class="item" (click)="onMenuSelect('tracking')">Tracking</button>
    <button mat-button class="item" (click)="onMenuSelect('reporting')">Reporting</button>
    <button mat-button class="item" (click)="onMenuSelect('accounting')">Accounting</button>
    <button mat-button class="item" (click)="onMenuSelect('inventory')">Inventory</button>
    <!--<button mat-button class="item" (click)="onMenuSelect('dashboard')"><mat-icon>dashboard</mat-icon> Dashboard</button>-->
    </div>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu">{{userName}}<mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onProfile()"><mat-icon>info</mat-icon> Profile</button>
        <button mat-menu-item (click)="onLogout()"><mat-icon>logout</mat-icon> Logout</button>
    </mat-menu>

</mat-toolbar>
</ng-container>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" [opened]="!isDashboard" class="sidenav">
    <!-- Shipping -->
        <ng-container *ngIf="canItBeDisplayed('shipping')">
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/createShipment'"> <mat-icon>add_circle</mat-icon> Create Shipment </a>
                <a mat-list-item [routerLink]="'/createBatchShipment'"> <mat-icon>cloud_upload</mat-icon>Create Batch Shipment </a>
                <a mat-list-item [routerLink]="'/shipmentList'"> <mat-icon>list</mat-icon> Shipment List </a>
                <a mat-list-item [routerLink]="'/templateBatchShipment'"><mat-icon>get_app</mat-icon>Download Template </a>
                <a mat-list-item [routerLink]="'/modifyShipment'"> <mat-icon>create</mat-icon> Modify Shipment </a>
            </mat-nav-list>  
        </ng-container>
    <!-- Tracking -->
        <ng-container *ngIf="canItBeDisplayed('tracking')">
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/singleShipment'"> <mat-icon>search</mat-icon> Single Shipment </a>
                <a mat-list-item [routerLink]="'/multipleShipment'"> <mat-icon>search</mat-icon>Multiple Shipment </a>
                <a mat-list-item [routerLink]="'/updateShipmentStatus'"> <mat-icon>create</mat-icon> Update Shipment Status</a>
            </mat-nav-list>
        </ng-container>

    <!-- Reporting -->
        <ng-container *ngIf="canItBeDisplayed('reporting')">
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/detailedReport'"> <mat-icon>add_circle</mat-icon> Detailed Report </a>
                <a mat-list-item [routerLink]="'/invoicing'"> <mat-icon>cloud_upload</mat-icon>Invoicing </a>
            </mat-nav-list>
        </ng-container>

    <!-- Accounting -->
        <ng-container *ngIf="canItBeDisplayed('accounting')">
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/detailedReport'"> <mat-icon>add_circle</mat-icon>Create Account </a>
                <a mat-list-item [routerLink]="'/invoicing'"> <mat-icon>cloud_upload</mat-icon>Creating Invoice </a>
                <a mat-list-item [routerLink]="'/invoicing'"> <mat-icon>cloud_upload</mat-icon>Shipment Delivery Report </a>
            </mat-nav-list>
        </ng-container>
    <!-- Inventory -->
        <ng-container *ngIf="canItBeDisplayed('inventory')">
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/addItem'"> <mat-icon>add_circle</mat-icon>Create Product </a>
                <a mat-list-item [routerLink]="'/removeItem'"> <mat-icon>cloud_upload</mat-icon>Delete Product </a>
                <a mat-list-item [routerLink]="'/itemReport'"> <mat-icon>cloud_upload</mat-icon>Generate Report </a>
            </mat-nav-list>
        </ng-container>

    <!-- Dashboard -->
        <ng-container *ngIf="canItBeDisplayed('dashboard')">
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/dashboard'"> <mat-icon>add_circle</mat-icon>Create Product </a>
                <a mat-list-item [routerLink]="'/invoicing'"> <mat-icon>cloud_upload</mat-icon>Delete Product </a>
                <a mat-list-item [routerLink]="'/invoicing'"> <mat-icon>cloud_upload</mat-icon>Generate Report </a>
        </mat-nav-list>
</ng-container>

    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <span>{{menuSelected}}</span>
            <span *ngIf="menuItem.length > 0">
                <mat-icon>double_arrow</mat-icon>
                <span>{{menuItem}}</span>
            </span>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>


