.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

.cntr {
    align-self: center;
    margin-left: 15%;
}

.item {
    margin-right: 10%;
    font-size: 18px;
}
.box {
    margin-top: 40px;
}

.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  