<p>Create Shipment</p>
<div class="container">
    <mat-grid-list cols="4" rowHeight="70px" gutterSize="15px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" class="gridbox">
            <mat-label>shipmentNo.</mat-label>
            <input matInput type="text" formControlName="shipmentNo">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" class="gridbox">
          <mat-label>Autogenerate</mat-label>
          <input matInput type="checkbox" formControlName="autogenerate">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" class="gridbox">
          <mat-label>Alternate Reference No.</mat-label>
          <input matInput type="text" formControlName="altRefNo">
        </mat-form-field>
      </mat-grid-tile>

     <!-- <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-form-field appearance="outline" class="gridbox">
          <mat-label>Notes</mat-label>
          <textarea matInput type="text" formControlName="notes" rows="7"></textarea>
        </mat-form-field>
      </mat-grid-tile>
    
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-form-field appearance="outline" class="gridbox">
          <mat-label>Connote</mat-label>
          <textarea matInput type="text" formControlName="connote" rows="7"></textarea>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" class="gridbox">
            <mat-label>Event Location</mat-label>
            <mat-select formControlName="eventLocation">
              <mat-option *ngFor="let city of CityNames" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" class="gridbox">
          <mat-label>Manual Event Location</mat-label>
          <input matInput type="text" formControlName="manualEvtLoc">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" class="gridbox">
          <mat-label>Driver Name</mat-label>
          <input matInput type="text" formControlName="driverName">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field appearance="outline" class="gridbox">
          <mat-label>Updated By</mat-label>
          <input matInput type="text" formControlName="updatedBy">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="full-width">
            <button mat-raised-button color="primary" type="submit" [disabled]="isBtnDisabled">Submit</button>
        </div>
      </mat-grid-tile>-->
      </mat-grid-list>
    </div>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <i>Shipment Bill Number</i>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container">
            <mat-grid-list cols="4" rowHeight="70px" gutterSize="15px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" class="gridbox">
                    <mat-label>shipmentNo.</mat-label>
                    <input matInput type="text" formControlName="shipmentNo">
                </mat-form-field>
              </mat-grid-tile>
        
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" class="gridbox">
                  <mat-label>Autogenerate</mat-label>
                  <input matInput type="checkbox" formControlName="autogenerate">
                </mat-form-field>
              </mat-grid-tile>
        
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" class="gridbox">
                  <mat-label>Alternate Reference No.</mat-label>
                  <input matInput type="text" formControlName="altRefNo">
                </mat-form-field>
              </mat-grid-tile>
        
             <!-- <mat-grid-tile [colspan]="1" [rowspan]="2">
                <mat-form-field appearance="outline" class="gridbox">
                  <mat-label>Notes</mat-label>
                  <textarea matInput type="text" formControlName="notes" rows="7"></textarea>
                </mat-form-field>
              </mat-grid-tile>
            
              <mat-grid-tile [colspan]="1" [rowspan]="2">
                <mat-form-field appearance="outline" class="gridbox">
                  <mat-label>Connote</mat-label>
                  <textarea matInput type="text" formControlName="connote" rows="7"></textarea>
                </mat-form-field>
              </mat-grid-tile>
        
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" class="gridbox">
                    <mat-label>Event Location</mat-label>
                    <mat-select formControlName="eventLocation">
                      <mat-option *ngFor="let city of CityNames" [value]="city">
                        {{city}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
              </mat-grid-tile>
        
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" class="gridbox">
                  <mat-label>Manual Event Location</mat-label>
                  <input matInput type="text" formControlName="manualEvtLoc">
                </mat-form-field>
              </mat-grid-tile>
        
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" class="gridbox">
                  <mat-label>Driver Name</mat-label>
                  <input matInput type="text" formControlName="driverName">
                </mat-form-field>
              </mat-grid-tile>
        
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="outline" class="gridbox">
                  <mat-label>Updated By</mat-label>
                  <input matInput type="text" formControlName="updatedBy">
                </mat-form-field>
              </mat-grid-tile>
        
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <div class="full-width">
                    <button mat-raised-button color="primary" type="submit" [disabled]="isBtnDisabled">Submit</button>
                </div>
              </mat-grid-tile>-->
              </mat-grid-list>
            </div>
    </mat-expansion-panel>
</mat-accordion>
