<div class="container">
  <form [formGroup]="singleAwbForm" novalidate (ngSubmit)="onSingleAwb()">
  
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>AWB or Alternate Reference No</mat-label>
    <input matInput type="text"  formControlName="awbNo">
  </mat-form-field>
   <mat-form-field class="full-width ml-20" appearance="outline">
     <mat-label>Sender Reference No.</mat-label>
    <input matInput type="text" formControlName="senderRefNo">
  </mat-form-field>
 
  <div class="full-width">
    <button mat-raised-button color="primary" type="submit" [disabled]="isBtnDisabled">Submit</button>
  </div>
  </form>
</div>

<ng-container *ngIf="displayResult== true"> 
  <div class="container"> 
    <mat-grid-list cols="5" rowHeight="1:1">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="gridbox mat-elevation-z8"> 
          <mat-card>
            <mat-card-content>
              <div><b><mat-label>Connote#     :</mat-label></b> {{shipmentInfo.shipmentNo}}</div>
              <div><b><mat-label>Alt. Ref. No.:</mat-label></b> {{shipmentInfo.altRefNo}}</div>
              <div><b><mat-label>Service Type :</mat-label></b> {{shipmentInfo.service}}</div>
              <div><b><mat-label>Shipped On   :</mat-label></b> {{shipmentInfo.activity[shipmentInfo.activity.length-1].date}} {{shipmentInfo.activity[ shipmentInfo.activity.length-1].time}} {{shipmentInfo.city}} - {{ shipmentInfo.country}}</div>
              <div><b><mat-label>Destination  :</mat-label></b> {{shipmentInfo.receiverCity}} - {{shipmentInfo.receiverCountry}}</div>
              <div><b><mat-label>Status       :</mat-label></b> {{shipmentInfo.activity[0].event}}</div>
              <div><b><mat-label>Job #        :</mat-label></b></div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      
      <mat-grid-tile [colspan]="4" [rowspan]="1">
            <div class="gridbox mat-elevation-z8">
                <mat-card>
                    <mat-card-title>
                    </mat-card-title>
                    <mat-card-content>
                      <clr-timeline>

                        <clr-timeline-step *ngFor="let st of shipmentInfo.activity" [clrState]="currentState(st.event)">
                          <clr-timeline-step-header>{{st.date}}:{{st.time}}</clr-timeline-step-header>
                          <clr-timeline-step-title>{{st.event}}</clr-timeline-step-title>
                          <clr-timeline-step-description>{{st.notes}}</clr-timeline-step-description>
                        </clr-timeline-step>
                        
                    </clr-timeline>
                  </mat-card-content>
                </mat-card>
            </div>
          </mat-grid-tile>
      </mat-grid-list>
    </div>
  </ng-container>

  <ng-container *ngIf= "displayResult == true"> 
  <div class="container">
    <table mat-table class="full-width-table" aria-label="Elements" [dataSource]="shipmentInfo.activity.reverse()">
      
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef >Date</th>
        <td mat-cell *matCellDef="let row">{{row.date}}</td>
      </ng-container>
  
      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef >Time</th>
        <td mat-cell *matCellDef="let row">{{row.time}}</td>
      </ng-container>
  
      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef >Location</th>
        <td mat-cell *matCellDef="let row">{{row.eventLocation}}</td>
      </ng-container>
  
      <!-- Activity Column -->
      <ng-container matColumnDef="activity">
        <th mat-header-cell *matHeaderCellDef >Activity</th>
        <td mat-cell *matCellDef="let row">{{row.event}}</td>
      </ng-container>
  
      <!-- Notes Column -->
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef >Notes</th>
        <td mat-cell *matCellDef="let row">{{row.notes}}</td>
      </ng-container>
  
      <!-- Entered By Column -->
      <ng-container matColumnDef="enteredBy">
        <th mat-header-cell *matHeaderCellDef >Entered By</th>
        <td mat-cell *matCellDef="let row">{{row.updatedBy}}</td>
      </ng-container>
  
      <!-- Received(UTC) Column -->
      <ng-container matColumnDef="received_UTC">
        <th mat-header-cell *matHeaderCellDef >Received(UTC)</th>
        <td mat-cell *matCellDef="let row">{{row.received_UTC}}</td>
      </ng-container>
  
      <!-- Sent(UTC) Column -->
      <ng-container matColumnDef="sent_UTC">
        <th mat-header-cell *matHeaderCellDef >Sent(UTC)</th>
        <td mat-cell *matCellDef="let row">{{row.sent_UTC}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsName"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsName;"></tr>
    </table>
  </div>
  </ng-container>
 
  <ng-container *ngIf="displayResult == true">
      <div class="container"> 
      <mat-grid-list cols="4" rowHeight="320px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="gridbox mat-elevation-z8"> 
                <mat-card>
                    <mat-card-title>
                      <u><b>Sender Information</b></u>
                    </mat-card-title>
                    <mat-card-content>
                      <div><mat-label><b>Name:</b></mat-label>{{shipmentInfo.name}}</div>
                      <div><mat-label><b>Company Name:</b></mat-label>{{shipmentInfo.companyName}}</div>
                      <div><mat-label><b>Address:</b></mat-label>{{shipmentInfo.address}}</div>
                      <div><mat-label><b>City:</b></mat-label>{{shipmentInfo.city}}</div>
                      <div><mat-label><b>Country:</b></mat-label>{{shipmentInfo.country}}</div>
                      <div><mat-label><b>Contact:</b></mat-label>{{shipmentInfo.contact}}</div>
                      <div><mat-label><b>Sender Reference No.:</b></mat-label> {{shipmentInfo.referenceNo}}</div>
                      <div><mat-label><b>Account Code:</b></mat-label>{{shipmentInfo.accountCode}}</div>
                      <div><mat-label><b>Phone:</b></mat-label>{{shipmentInfo.phone}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
          </mat-grid-tile>
            
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="gridbox mat-elevation-z8">
                <mat-card>
                    <mat-card-title>
                      <u><b>Receiver Information</b></u>
                    </mat-card-title>
                    <mat-card-content>
                      <div><mat-label><b>Name:</b></mat-label>{{shipmentInfo.receiverName}}</div>
                      <div><mat-label><b>Address:</b></mat-label>{{shipmentInfo.receiverAddress}}</div>
                      <div><mat-label><b>Contact No.:</b></mat-label>{{shipmentInfo.receiverContact}}</div>
                      <div><mat-label><b>Phone:</b></mat-label>{{shipmentInfo.receiverPhone}}</div>
                      <div><mat-label><b>City:</b></mat-label>{{shipmentInfo.receiverCity}}</div>
                      <div><mat-label><b>State:</b></mat-label>{{shipmentInfo.receiverState}}</div>
                      <div><mat-label><b>Country:</b></mat-label>{{shipmentInfo.receiverCountry}}</div>
                      <div><mat-label><b>Email:</b></mat-label>{{shipmentInfo.receiverEmail}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
          </mat-grid-tile>
            
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <div class="gridbox mat-elevation-z8">
                <mat-card>
                    <mat-card-title>
                      <u><b>Shipment Information</b></u>
                    </mat-card-title>
                    <mat-card-content>
                      <div><mat-label><b>SKU:</b></mat-label><mat-label>{{shipmentInfo.sku}}</mat-label></div>
                      <div><mat-label><b>Service Type:</b></mat-label><mat-label>{{shipmentInfo.service}}</mat-label></div>
                      <div><mat-label><b>Number Of Items:</b></mat-label><mat-label>{{shipmentInfo.noOfItems}}</mat-label></div>
                      <div><mat-label><b>Goods Description:</b></mat-label><mat-label>{{shipmentInfo.description}}</mat-label></div>
                      <div><mat-label><b>Goods Value:</b></mat-label><mat-label>{{shipmentInfo.goodsValue}}</mat-label></div>
                      <div><mat-label><b>Customs Value:</b></mat-label><mat-label>{{shipmentInfo.customValue}}</mat-label></div>
                      <div><mat-label><b>Weight:</b></mat-label><mat-label>{{shipmentInfo.weight}}</mat-label></div>
                      <div><mat-label><b>Weight Unit:</b></mat-label><mat-label>{{shipmentInfo.weightUnit}}</mat-label></div>
                      <div><mat-label><b>Cubic Weight:</b></mat-label><mat-label>{{shipmentInfo.cubicWeight}}</mat-label></div>
                      <div><mat-label><b>COD Amount:</b></mat-label><mat-label>{{shipmentInfo.codAmount}}</mat-label></div>
                      <div><mat-label><b>Currency:</b></mat-label><mat-label>{{shipmentInfo.currency}}</mat-label></div>
                    </mat-card-content>
                </mat-card>
            </div>
          </mat-grid-tile>
      </mat-grid-list>
    </div>
  </ng-container>
  
